.container {
  width: 50%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  background-color: #fefe23;

  text-align: center;
}

.btn:hover {
  color: #fff;
  background-color: #3b2d2d;
}
